<div data-magellan-expedition="fixed">
  <dl class="sub-nav" id="menu">
    <dd data-magellan-arrival="inicio"><a href="#inicio">Inicio</a></dd>
    <dd data-magellan-arrival="trabajos"><a href="#trabajos">Trabajos</a></dd>
    <dd data-magellan-arrival="clientes"><a href="#clientes">Clientes</a></dd>
    <dd data-magellan-arrival="contacto"><a href="#contacto">Contacto</a></dd>
  </dl>
</div>
<div class="row min-height">
  <div class="large-12 columns">
    <% flash.each do |name, msg| %>
    	<div data-alert class="alert-box">
    		<%= content_tag :div, msg, id: "flash_#{name}" %>
    		<a href="#" class="close">&times;</a>
    	</div>
    <% end %>
  </div>
</div>
<section class="fullscreen" id="inicio">
	<div class="row">
	  <div class="large-12 columns">
	  	<div class="large-12 columns text-center">
		  	<h1>Grabados Barón</h1>
		  </div>
	  </div>
	  <div class="large-12 columns">
	  	<div class="large-12 columns text-center">
		  	<h2><small>Grabados Publicitarios - Regalos Empresariales - Colegios - Señalética - Premios - Piochas de Identificación</small></h2>
		  </div>
	  </div>
	  <div class="large-12 columns">
	  	<div class="large-12 columns text-center">
			  <dd data-magellan-trabajos="trabajos">
			  	<a name="trabajos" href="#trabajos" class="button">Conoce más</a>
			  </dd>
		  </div>
	  </div>
	</div>
</section>

<section data-magellan-trabajos="trabajos" class="fullscreen" id="trabajos">
	<div class="row">
	  <div class="large-12 columns text-center">
	  	<h2>Echa un vistazo a nuestros últimos trabajos</h2>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns text-center">
	  	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
			  <li><a href="assets/img1.jpg"><%= image_tag "img1.jpg"%></a></li>
			  <li><a href="assets/img2.jpg"><%= image_tag "img2.jpg"%></a></li>
			  <li><a href="assets/img3.jpg"><%= image_tag "img3.jpg"%></a></li>
			  <li><a href="assets/img4.jpg"><%= image_tag "img4.jpg"%></a></li>
			</ul>
	  </div>
	</div>
</section>

<section class="fullscreen" id="servicios">
	<div class="row">
	  <div class="large-12 columns text-center">
	  	<h3>Calidad y Rapidez</h3>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns text-center">
	  	<h5>Nos enfocamos en la prestación de servicios de grabados publicitarios, colegios, empresas y marcaje en general. Prestamos un servicio de calidad, priorisamos los tiempos de entrega y asi satisfacemos las necesidades de nuestros clientes</h5>
	  </div>
	</div>
</section>

<section class="fullscreen" id="clientes">
	<div class="row">
	  <div class="large-12 columns text-center">
	  	<h2>Nuestros Clientes</h2>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns text-center">
	  	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
			  <li><a href=""><%= image_tag "logo5.jpg", style: "height: 150px; width: 170px"%></a></li>
			  <li><a href=""><%= image_tag "logo6.jpg", style: "height: 150px; width: 170px"%></a></li>
			  <li><a href=""><%= image_tag "logo7.jpg", style: "height: 150px; width: 170px"%></a></li>
			  <li><a href=""><%= image_tag "logo8.jpg", style: "height: 150px; width: 170px"%></a></li>
			</ul>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns text-center">
	  	<ul class="clearing-thumbs small-block-grid-4" data-clearing>
			  <li><a href=""><%= image_tag "logo1.jpg", style: "height: 150px; width: 200px"%></a></li>
			  <li><a href=""><%= image_tag "logo2.jpg", style: "height: 150px; width: 170px"%></a></li>
			  <li><a href=""><%= image_tag "logo3.jpg", style: "height: 150px; width: 170px"%></a></li>
			  <li><a href=""><%= image_tag "logo4.jpg", style: "height: 170px; width: 190px"%></a></li>
			</ul>
	  </div>
	</div>

</section>


<section class="fullscreen" id="contacto">
	<div class="row">
	  <div class="large-12 columns text-center">
	  	<h2>Contáctanos</h2>
	  </div>
	</div>

	<%= form_tag contact_path do %>

		<div class="row">
		  <div class="large-6 columns text-center">
		  	<div class="row">
		  		<div class="large-6 columns text-center">.</div>
		  		<div class="large-6 columns text-center">
		  			<input type="text" name="contact[name]" placeholder="Nombre persona o empresa">
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="large-6 columns text-center">.</div>
		  		<div class="large-6 columns text-right">
		  			<input type="text" name="contact[email]" placeholder="Email">
		  		</div>
		  	</div>
		  </div>
		  <div class="large-6 columns text-center">
		  	<div class="row">
		  		<div class="large-6 columns text-center">
		  			<textarea name="contact[message]" placeholder="Tu mensaje"></textarea>
		  		</div>
		  	</div>
		  </div>
		</div>
		<div class="row">
			<div class="large-12 columns text-center">
			  <button class="button" type="submit">Enviar</button>
			</div>
		</div>

	<% end %>

	<div class="row">
		<div class="large-12 columns text-center">
		  <a href="" target="_blank">
        <%= image_tag "facebook.png", size: "55x55" %>
      </a>
       <a href="" target="_blank">
        <%= image_tag "linkedin.png", size: "55x55" %>
      </a>
		</div>
	</div>
</section>

<section class="fullscreen" id="mapa">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3325.815101935831!2d-70.6663327!3d-33.53219260000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662daffaa448a37%3A0xf5f5a128d9b67d67!2sBrisas+del+Maipo+245%2C+La+Cisterna%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1408244999566" frameborder="0" style="border:0"></iframe>
</section>

<section class="fullscreen" id="footer">
	<div class="row">
	  <div class="large-12 columns">
	  	<h6 class="subheader">Sitio diseñado y programado por <a href="">magickdevs.com</a></h6>
	  </div>
	</div>
</section>